In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("agricultural.csv")
df

,State,District,Market,Commodity,Variety,Grade,Arrival_Date,Min Price,Max Price,Modal Price
0,Gujarat,Amreli,Damnagar,Bhindi(Ladies Finger),Bhindi,FAQ,27-07-2023,4100.0,4500.0,4350.0
1,Gujarat,Amreli,Damnagar,Brinjal,Other,FAQ,27-07-2023,2200.0,3000.0,2450.0
2,Gujarat,Amreli,Damnagar,Cabbage,Cabbage,FAQ,27-07-2023,2350.0,3000.0,2700.0
3,Gujarat,Amreli,Damnagar,Cauliflower,Cauliflower,FAQ,27-07-2023,7000.0,7500.0,7250.0
4,Gujarat,Amreli,Damnagar,Coriander(Leaves),Coriander,FAQ,27-07-2023,8400.0,9000.0,8850.0
...,...,...,...,...,...,...,...,...,...,...
23088,Uttrakhand,Haridwar,Roorkee,Mango,Other,Medium,02-08-2023,800.0,1200.0,1000.0
23089,Uttrakhand,Haridwar,Roorkee,Mousambi(Sweet Lime),Other,Medium,02-08-2023,1500.0,2500.0,2000.0
23090,Uttrakhand,Haridwar,Roorkee,Pear(Marasebu),Other,Medium,02-08-2023,2000.0,3000.0,2500.0
23091,Uttrakhand,Haridwar,Roorkee,Potato,Other,FAQ,02-08-2023,900.0,1800.0,1500.0
23092,Uttrakhand,Haridwar,Roorkee,Pumpkin,Other,FAQ,02-08-2023,500.0,700.0,600.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23093 entries, 0 to 23092
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   State         23093 non-null  object
 1   District      23093 non-null  object
 2   Market        23093 non-null  object
 3   Commodity     23093 non-null  object
 4   Variety       23093 non-null  object
 5   Grade         23093 non-null  object
 6   Arrival_Date  23093 non-null  object
 7   Min Price     23093 non-null  float64
 8   Max Price     23093 non-null  float64
 9   Modal Price   23093 non-null  float64
dtypes: float64(3), object(7)
memory usage: 1.8+ MB

In [13]:
df.isna().sum()

State           0
District        0
Market          0
Commodity       0
Variety         0
Grade           0
Arrival_Date    0
Min Price       0
Max Price       0
Modal Price     0
dtype: int64

In [14]:
df.describe()

           Min Price      Max Price    Modal Price
count   23093.000000   23093.000000   23093.000000
mean     4187.077045    4976.034260    4602.917742
std      5472.783385    6277.308057    5843.822711
min         0.000000       0.000000       0.830000
25%      1750.000000    2000.000000    1955.000000
50%      2725.000000    3400.000000    3000.000000
75%      5000.000000    6000.000000    5500.000000
max    223500.000000  227500.000000  225500.000000

In [15]:
df.nunique()

State             27
District         403
Market          1289
Commodity        234
Variety          452
Grade              4
Arrival_Date       7
Min Price       1793
Max Price       2073
Modal Price     2071
dtype: int64

In [43]:
data = df.drop(columns=['Arrival_Date'])

data = pd.get_dummies(data, columns=['Commodity', 'Grade'], drop_first=True,dtype=int)

In [44]:
data

,State,District,Market,Variety,Min Price,Max Price,Modal Price,Commodity_Alasande Gram,Commodity_Almond(Badam),Commodity_Alsandikai,...,Commodity_Wheat,Commodity_Wheat Atta,Commodity_White Peas,Commodity_White Pumpkin,Commodity_Wood,Commodity_Yam,Commodity_Yam (Ratalu),Grade_Large,Grade_Medium,Grade_Small
0,Gujarat,Amreli,Damnagar,Bhindi,4100.0,4500.0,4350.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Gujarat,Amreli,Damnagar,Other,2200.0,3000.0,2450.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Gujarat,Amreli,Damnagar,Cabbage,2350.0,3000.0,2700.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Gujarat,Amreli,Damnagar,Cauliflower,7000.0,7500.0,7250.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Gujarat,Amreli,Damnagar,Coriander,8400.0,9000.0,8850.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23088,Uttrakhand,Haridwar,Roorkee,Other,800.0,1200.0,1000.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23089,Uttrakhand,Haridwar,Roorkee,Other,1500.0,2500.0,2000.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23090,Uttrakhand,Haridwar,Roorkee,Other,2000.0,3000.0,2500.0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
23091,Uttrakhand,Haridwar,Roorkee,Other,900.0,1800.0,1500.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
23092,Uttrakhand,Haridwar,Roorkee,Other,500.0,700.0,600.0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
X = data.drop(columns=['Modal Price','Market','District','State', 'Variety'])
y = data['Modal Price']

In [46]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [47]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

In [50]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2 = r2_score(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5

r2, mae, mse, rmse

(0.9929133224942498, 150.7978951556702, 218961.50400081088, 467.93322600645797)